:root {
  --bg-color: #333;
  --display-text-color: #333;
  --display-bg-color: #8ca37a;
  --display-disabled-color: #869c74;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  max-width: 400px;
  background: var(--bg-color);
  height: 100vh;
}
